# Игнорирай IDE файловете
.idea/
.vscode/

# Игнорирай директории свързани с .NET
.dotnet/

# Игнорирай зависимостите на Java и Maven
.m2/
target/

# Игнорирай кешове и временни файлове
*.log
*.tmp

# Игнорирай настройки на системата
*.DS_Store
Thumbs.db

# Игнорирай други ненужни директории
*.zip
*.tar.gz